<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Provider name..." ng-model="newprovider" aria-describedby="basic-addon2">
        <span class="input-group-addon" ng-click="createProvider()">Add Provider</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <tbody>
             <tr class="category-row" ng-repeat="prov in list">

                <td>
                  <div class="checkbox">
                    <label style="width:100%;">
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      {{prov.name}}
                    </label>
                  </div>
                </td>

                <td style="width: 30px;">
                    <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </td>

                <td style="width: 30px;">
                  <button class="btn-view-fund btn btn-default btn-xs  pull-left" type="button" ng-click="confirmRemove(prov)">
                      <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                  </button>
                </td>

              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
