body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  a
    color: #1C7396
  img
    display: inline-block;
    max-width: 100%;
    height: auto;
  .hammerfont
    font-family: 'Hammersmith One', sans-serif;
    color: #C9CFFE !important;
  .our-main-content
    margin-top: 45px
  .top-title-bar
    background-color: #EEEEEE;
    opacity: .9;
    margin: 0 -15px 20px -15px;
    padding: 11px 20px;
    color: #4A4A4A;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 1px 0px #D8CFD1;
    border-bottom: 1px solid #E3E1E1;
    h2, h3, h4
      display: inline block
      margin: 0;
      padding: 1px;
      font-size: 18px;
      display: inline-block
      padding-right: 30px
    .actions
      display: inline-block
      a.btn
        line-height: 25px;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 120px;
    i
      margin-right: 5px;
    &.inner
      margin: 0 -25px 20px -25px;
      text-align: center;
  .btn-width-min
    min-width: 120px

// Dashboard
.loadingmessage
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.9);
  color: #000;
  z-index: 999999;
  text-align: center;
  .preloading-message
    color: #fff;
    font-size: 45px;
    padding: 15px;
    border-radius: 5px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;
    width: 20%;
    margin: 0 auto;
    margin-top: 15%;

// https://docs.angularjs.org/api/ng/directive/ngCloak
// http://stackoverflow.com/questions/12866447/prevent-double-curly-brace-notation-from-displaying-momentarily-before-angular-j
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
 * General styles
 */


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar-con {
    padding: 0;
    .d-item-title {
      display: none;
    }
  }
  .main-con {
    padding: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Animated radios & checkboxes (noJS)
 Credits: http://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs
*/
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
